<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--
          Create a Form with the following Controls and Validators
          1) Project Name (should not be empty)
          2) Mail (should not be a empty and a valid email)
          3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
          4) Submit Button

          Add your own Validator which doesn't allow "Test" as a Project Name

          Also implement that Validator as an async Validator (replace the other one)

          Upon submitting the form, simply print the value to the console
      -->
      <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Project Name</label>
          <input
            class="form-control"
            type="text"
            id="name"
            formControlName="name"
          />
          <p
            *ngIf="
              projectForm.controls.name.invalid &&
              projectForm.controls.name.touched
            "
            class="help-block"
          >
            <span *ngIf="projectForm.controls.name.errors['forbiddenName']"
              >This name is invalid!</span
            >
            <span *ngIf="projectForm.controls.name.errors['required']">
              This field is required
            </span>
          </p>
        </div>

        <div class="form-group">
          <label for="email">Mail</label>
          <input
            class="form-control"
            type="email"
            id="email"
            formControlName="email"
          />
          <p
            *ngIf="
              projectForm.controls.email.invalid &&
              projectForm.controls.email.touched
            "
            class="help-block"
          >
            Please enter a valid project email!
          </p>
        </div>

        <div class="form-group">
          <label for="status">Project Status</label>
          <select class="form-control" id="status" formControlName="status">
            <option *ngFor="let status of projectStatuses" [value]="status">
              {{ status }}
            </option>
          </select>
        </div>

        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="projectForm.invalid"
        >
          Add Project
        </button>
      </form>
    </div>
  </div>

  <hr />

  <div class="row" *ngIf="formSubmitted">
    <div class="col-xs-12">
      <h3>Your Data</h3>
      <p>Project Name: {{ res.name }}</p>
      <p>Email: {{ res.email }}</p>
      <p>Project Status: {{ res.status }}</p>
    </div>
  </div>
</div>
